<!DOCTYPE html>
<html lang="en">
  
<head>
	<title>Fortnight - SMS Pen Pals</title>
	<meta charset="UTF-8">		
	<meta name="viewport" content="width=device-width, initial scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Asap:400,700,700italic' rel='stylesheet' type='text/css'>
	<link href="static/css/bootstrap.css" rel="stylesheet">
	<link href="static/css/styles.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="static/js/bootstrap.js"></script>
	<script src="static/js/main.js"></script> 
</head>
<body> 	
	
	<div class="container-fluid">

		<div class="row">
			<div class="col-md-12 main-content">
			
				<div class="row header">				
					<div class="col-md-12 table-cell">										
						<div class="logo">
						</div>				
						<div class="tagline">
							<h1> A new way to pen pal </h1>
						</div>					
					</div>									
				</div>
				<div class="row">
					<div class="col-md-12 sub-head">
						<h2> How it works </h2>
					</div>
				</div>
				<!--<div class="row step1">
					<div class="col-md-12">
						<div class="penpals"></div>
					</div>
				</div>-->
				
				
				
				
				<div class="row steps">
					<div class="col-md-3"></div>
					<div class="col-md-2 step"><img src="static/images/step1.png" width="120px;"></div>
					<div class="col-md-4">
						<h3>Make a new friend in a new place</h3>
						<p>We connect you with someone who's speaking your language. You get to send one message every 2-weeks, so make it count!</p>
					</div>
					<div class="col-md-3"></div>
				</div>
				<div class="row steps">
					<div class="col-md-3"></div>
					<div class="col-md-2 step"><img src="static/images/step2.png" width="120px;"></div>
					<div class="col-md-4">
						<h3>Rediscover "slow-cial"</h3>
						<p>Fortnight is about taking time to get to know someone... just like in the good ol' days!</p>
					</div>
					<div class="col-md-3"></div>
				</div>
				<div class="row steps">
					<div class="col-md-3"></div>
					<div class="col-md-2 step"><img src="static/images/step3.png" width="120px;"></div>
					<div class="col-md-4">
						<h3>Who needs another app?</h3>
						<p>All you need to use Fortnight is a phone number; It's completely SMS based! We act as the middle-man, so your number remains anonymous.</p>
					</div>
					<div class="col-md-3"></div>
				</div>

				
				
				<div class="row signup">
					<div class="col-md-12 phone">
						<h2> Meet your first pen pal </h2>
						<form>
							<input type="text" id="phone" placeholder="📱 +1" disabled=""></input>
							<select type="select" id="language" disabled="">
								<option> Primary language </option>
								<option>🇺🇸</option>
								<option>🇪🇸</option>
								<option>🇦🇫</option>
								<option>🇦🇱</option>
								<option>🇩🇿</option>
								<option>🇦🇸</option>
								<option>🇦🇩</option>
								<option>🇦🇴</option>
								<option>🇦🇮</option>
								<option>🇦🇬</option>
								<option>🇦🇷</option>
								<option>🇦🇲</option>
								<option>🇦🇼</option>
								<option>🇦🇺</option>
								<option>🇦🇹</option>
								<option>🇦🇿</option>
								<option>🇧🇸</option>
								<option>🇧🇭</option>
								<option>🇧🇩</option>
								<option>🇧🇧</option>
								<option>🇧🇾</option>
								<option>🇧🇪</option>
								<option>🇧🇿</option>
								<option>🇧🇯</option>
								<option>🇧🇲</option>
								<option>🇧🇹</option>
								<option>🇧🇴</option>
								<option>🇧🇦</option>
								<option>🇧🇼</option>
								<option>🇧🇷</option>
								<option>🇧🇳</option>
								<option>🇧🇬</option>
								<option>🇧🇫</option>
								<option>🇧🇮</option>
								<option>🇰🇭</option>
								<option>🇨🇲</option>
								<option>🇨🇦</option>
								<option>🇨🇻</option>
								<option>🇰🇾</option>
								<option>🇨🇫</option>
								<option>🇨🇱</option>
								<option>🇨🇳</option>
								<option>🇨🇴</option>
								<option>🇰🇲</option>
								<option>🇨🇩</option>
								<option>🇨🇬</option>
								<option>🇨🇰</option>
								<option>🇨🇷</option>
								<option>🇭🇷</option>
								<option>🇨🇺</option>
								<option>🇨🇼</option>
								<option>🇨🇾</option>
								<option>🇨🇿</option>
								<option>🇩🇰</option>
								<option>🇩🇯</option>
								<option>🇩🇲</option>
								<option>🇩🇴</option>
								<option>🇪🇨</option>
								<option>🇪🇬</option>
								<option>🇸🇻</option>
								<option>🇬🇶</option>
								<option>🇪🇷</option>
								<option>🇪🇪</option>
								<option>🇪🇹</option>
								<option>🇫🇴</option>
								<option>🇫🇯</option>
								<option>🇫🇮</option>
								<option>🇫🇷</option>
								<option>🇬🇫</option>
								<option>🇹🇫</option>
								<option>🇬🇦</option>
								<option>🇬🇲</option>
								<option>🇬🇪</option>
								<option>🇩🇪</option>
								<option>🇬🇭</option>
								<option>🇬🇮</option>
								<option>🇬🇧</option>
								<option>🇬🇷</option>
								<option>🇬🇩</option>
								<option>🇬🇵</option>
								<option>🇬🇺</option>
								<option>🇬🇹</option>
								<option>🇬🇳</option>
								<option>🇬🇼</option>
								<option>🇬🇾</option>
								<option>🇭🇹</option>
								<option>🇭🇳</option>
								<option>🇭🇰</option>
								<option>🇭🇺</option>
								<option>🇮🇸</option>
								<option>🇮🇳</option>
								<option>🇮🇩</option>
								<option>🇮🇷</option>
								<option>🇮🇶</option>
								<option>🇮🇪</option>
								<option>🇮🇱</option>
								<option>🇮🇹</option>
								<option>🇨🇮</option>
								<option>🇯🇲</option>
								<option>🇯🇵</option>
								<option>🇯🇴</option>
								<option>🇰🇿</option>
								<option>🇰🇪</option>
								<option>🇰🇮</option>
								<option>🇰🇼</option>
								<option>🇰🇬</option>
								<option>🇱🇦</option>
								<option>🇱🇻</option>
								<option>🇱🇧</option>
								<option>🇱🇸</option>
								<option>🇱🇷</option>
								<option>🇱🇾</option>
								<option>🇱🇮</option>
								<option>🇱🇹</option>
								<option>🇱🇺</option>
								<option>🇲🇴</option>
								<option>🇲🇰</option>
								<option>🇲🇬</option>
								<option>🇲🇼</option>
								<option>🇲🇾</option>
								<option>🇲🇻</option>
								<option>🇲🇱</option>
								<option>🇲🇹</option>
								<option>🇲🇶</option>
								<option>🇲🇷</option>
								<option>🇲🇽</option>
								<option>🇲🇩</option>
								<option>🇲🇳</option>
								<option>🇲🇪</option>
								<option>🇲🇸</option>
								<option>🇲🇦</option>
								<option>🇲🇿</option>
								<option>🇲🇲</option>
								<option>🇳🇦</option>
								<option>🇳🇵</option>
								<option>🇳🇱</option>
								<option>🇳🇨</option>
								<option>🇳🇿</option>
								<option>🇳🇮</option>
								<option>🇳🇪</option>
								<option>🇳🇬</option>
								<option>🇳🇺</option>
								<option>🇰🇵</option>
								<option>🇲🇵</option>
								<option>🇳🇴</option>
								<option>🇴🇲</option>
								<option>🇵🇰</option>
								<option>🇵🇼</option>
								<option>🇵🇸</option>
								<option>🇵🇦</option>
								<option>🇵🇬</option>
								<option>🇵🇾</option>
								<option>🇵🇪</option>
								<option>🇵🇭</option>
								<option>🇵🇱</option>
								<option>🇵🇹</option>
								<option>🇵🇷</option>
								<option>🇶🇦</option>
								<option>🇷🇪</option>
								<option>🇷🇴</option>
								<option>🇷🇺</option>
								<option>🇷🇼</option>
								<option>🇼🇸</option>
								<option>🇸🇲</option>
								<option>🇸🇹</option>
								<option>🇸🇦</option>
								<option>🇸🇳</option>
								<option>🇷🇸</option>
								<option>🇸🇨</option>
								<option>🇸🇱</option>
								<option>🇸🇬</option>
								<option>🇸🇰</option>
								<option>🇸🇮</option>
								<option>🇸🇧</option>
								<option>🇸🇴</option>
								<option>🇿🇦</option>
								<option>🇰🇷</option>
								<option>🇸🇸</option>
								<option>🇱🇰</option>
								<option>🇸🇩</option>
								<option>🇸🇷</option>
								<option>🇸🇿</option>
								<option>🇸🇪</option>
								<option>🇨🇭</option>
								<option>🇸🇾</option>
								<option>🇹🇯</option>
								<option>🇹🇿</option>
								<option>🇹🇭</option>
								<option>🇹🇱</option>
								<option>🇹🇬</option>
								<option>🇹🇴</option>
								<option>🇹🇹</option>
								<option>🇹🇳</option>
								<option>🇹🇷</option>
								<option>🇹🇲</option>
								<option>🇹🇨</option>
								<option>🇹🇻</option>
								<option>🇺🇬</option>
								<option>🇺🇦</option>
								<option>🇦🇪</option>
								<option>🇺🇾</option>
								<option>🇺🇿</option>
								<option>🇻🇺</option>
								<option>🇻🇪</option>
								<option>🇻🇳</option>
								<option>🇾🇪</option>
								<option>🇿🇲</option>
								<option>🇿🇼</option>
							<select>
							<input type="submit" id="submit"></input>
						</form>
					</div>
											
				</div>
			</div>	

		</div>
			
	</div>	
</body>

</html>